.checkbox-filter {
  border: none;
  padding: 0;
  margin: 0;
}

.checkbox-filter__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: $font-family;
  color: $color-pink;
}

.checkbox-filter__label {
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  color: $text-color;
  font-weight: 400;
}

.checkbox-filter__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop) {
  .checkbox-filter {
    width: 940px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item {
    width: 300px;
    flex-wrap: wrap;
  }
}
