.study__title {
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  font-weight: 700;
  width: 160px;
}

.study__text {
  font-family: $font-family;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  font-weight: 300;
}

.study__link {
  font-family: $font-family;
  font-size: 15px;
  line-height: 24px;
  color: $color-pink;
  font-weight: 300;
  text-decoration: underline;
}

.study-info {
  display: none;
  position: relative;
}

@media (min-width: $tablet) {
  .study-info {
    display: block;
  }
}

@media (min-width: $tablet) {
  .study-info {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/timer.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 250px;
      height: 280px;
      bottom: 0;
      left: 70px;
    }
  }
}

@media (min-width: $desktop) {
  .study-info {
    background-color: $bg-light-gray;
  }
}
