@mixin container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
  }

  @media (min-width: $desktop) {
    width: 940px;
  }
}

@mixin text-hidden {
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin reviews-button {
  display: block;
  position: absolute;
  top: 213px;
  width: 22px;
  height: 42px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}


@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin input-text {
  padding: 15px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  outline: 0;

  &:hover {
    border-color: $gray--dark;
  }

  &:focus {
    border-color: $pink;
  }
}

@mixin contact-icon {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
