$pink:                              #d22856;
$green:                             #2aab6d;
$green--hover:                      #1c9b5e;
$gray--dark:                        #283645;
$gray--light:                       #8a8a8a;

$txt--white:                        #ffffff;
$txt-green:                         #03c482;
$txt-black:                         #000000;

$bg--white:                         #ffffff;
$bg--dark:                          #1d2631;
$bg--gray:                          #efefef;
$bg--transparent:                   rgba(0, 0, 0, 0.3);

$column-width-mobile:               280px;
$column-width-tablet:               155px;
$column-width-desktop:              235px;

$mobile:                            659px;
$tablet:                            660px;
$desktop:                           960px;
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
