.main-nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $txt--white;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
}

.main-nav__toggler {
  display: flex;
  justify-content: flex-end;
  height: 22px;
  padding: 22px 20px 26px;

  @media (min-width: $tablet) {padding: 44px 20px 43px;}

  @media (min-width: $desktop) {display: none;}

  span {
    display: block;
    width: 50px;
    height: 24px;
    background: url("../img/icon-menu-burger.svg") no-repeat;
    background-size: 50px 24px;
    cursor: pointer;

    &:hover {
      background: url("../img/icon-menu-burger-pink.svg") no-repeat;
      background-size: 50px 24px;
    }

    &:active {
      background: url("../img/icon-menu-burger-pink.svg") no-repeat;
      background-size: 50px 24px;
      opacity: 0.3;
    }
  }

  &--active {
    background-color: $gray--dark;
    box-shadow: inset 0 -2px 0 -1px #000;

    span {
      width: 24px;
      background: url("../img/icon-menu-cross.svg") no-repeat;
      background-size: 23px 22px;

      &:hover {
        background: url("../img/icon-menu-cross-pink.svg") no-repeat;
        background-size: 23px 22px;
      }

      &:active {
        background: url("../img/icon-menu-cross-pink.svg") no-repeat;
        background-size: 23px 22px;
        opacity: 0.3;
      }
    }
  }
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &--visible {
    display: block;
  }
}

.main-nav__item {
  @media (min-width: $desktop) {
    margin: 0;
    padding: 45px 0 47px;
  }

  a {
    display: block;
    padding: 17px 10px 15px;
    background-color: $gray--dark;
    box-shadow:
      inset 0 2px 0 -1px rgba(255, 255, 255, 0.15),
      inset 0 -2px 0 -1px #000;
    color: inherit;
    text-decoration: none;
    text-align: center;

    @media (min-width: $desktop) {
      margin-left: 80px;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }

    &:hover {
      color: $pink;
    }

    &:active {
      color: rgba($pink, 0.3);

      @media (min-width: $desktop) {color: rgba(255, 255, 255, 0.3);}
    }
  }

  &--active {
    a {
      cursor: default;

      @media (min-width: $desktop) {
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 2px;
          background-color: $txt--white;
        }

      }

      &:hover {
        color: $txt--white;
      }

      &:active {
        color: $txt--white;
      }
    }
  }
}
