.modal {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 45%;
  left: 50%;
  width: 320px;
  padding: 40px 20px 50px;
  background-color: $txt--white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);

  @media (min-width: $tablet) {
    width: 460px;
    padding-left: 80px;
    padding-right: 80px;
  }

  &--success {
    background-image: linear-gradient(to top, $bg--gray, $bg--gray 163px, #fff 163px, #fff);

    @media (min-width: $tablet) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: $desktop) {
      width: 780px;
      padding-left: 160px;
      padding-right: 160px;
    }

    .modal__descr {
      margin-bottom: 80px;

      @media (min-width: $desktop) {margin-bottom: 85px;}
    }
  }

  &--visible {
    display: block;
  }
}

.modal__wrap {
  @media (min-width: $tablet) {
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 20px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__descr {
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $gray--dark;
  text-align: center;

  @media (min-width: $tablet) {font-size: 18px;}
}

.modal__text {
  @media (min-width: $tablet) {
    font-size: 18px;
    padding-left: 77px;
    padding-right: 77px;
  }
}

.modal__btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 18px 20px 17px;
  background-color: $green;
  border: none;
  border-radius: 2px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $txt--white;
  text-transform: uppercase;

  @media (min-width: $tablet) {width: 300px;}

  @media (min-width: $desktop) {width: 100%;}

  &:hover {
    background-color: $green--hover;
  }

  &:active {
    background-color: $green--hover;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $txt--white;
  }
}
